
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>My Mobilosoft Locations</title>

    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.css}">-->
    <link rel="stylesheet" type="text/css" href="./css/components/datetime-picker.css">
    <link rel="stylesheet" href="./css/global.css" type="text/css">
    <link rel="stylesheet" href="./css/global-added.css" type="text/css">
    <link rel="stylesheet" href="./css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="./css/notify.css" type="text/css">
    <link rel="stylesheet" href="./css/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="./css/chosen.min.css" type="text/css">
    <link rel="stylesheet" href="./css/HoldOn.min.css" type="text/css">
    <link rel="stylesheet" href="./css/emojionearea.min.css" type="text/css">
    <link rel="stylesheet" href="./css/richtext.min.css" type="text/css">
    <link rel="stylesheet" href="" type="text/css">
    <link rel="stylesheet" href="./css/daterangepicker.css" type="text/css">
    <link rel="stylesheet" href="./css/multi-select.css" type="text/css">
    <link rel="stylesheet" href="./css/switch.css" type="text/css">
    <link rel="stylesheet" href="./css/reporting-ui/index.css" type="text/css">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!--Icon -->
    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <meta name="google-site-verification" content="qzP41lOwwGJ6nyep8qwJtxHEzOvZ_ynBIpJeUHaKEgw" />
    <!-- Include GA4 and GTM tags from fragments/general.html -->
    
    <!-- Google tag (gtag.js) -->
    <script>
        gaTrackingId = "G-E5FPWBFBPX";
        googleTagManagerId = "GTM-K3W7C7NF";
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=gaTrackingId"></script>
    <script>
        /*<![CDATA[*/
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', gaTrackingId);

        <!-- Google Tag Manager -->
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', googleTagManagerId);
        <!-- End Google Tag Manager -->

        // Initialize the dataLayer
        window.dataLayer = window.dataLayer || [];
        // Push data to the dataLayer
        th:inline = "javascript"
        dataLayer.push({
            'event': 'trackingBySiteName',
            'siteName': "mcdonalds-fr",
        });
        /*]]>*/
    </script>
    
 
 <!-- Include GA4 and GTM tags from fragments/general.html -->
 
    <!-- Google tag (gtag.js) -->
    <script>
        gaTrackingId = "G-E5FPWBFBPX";
        googleTagManagerId = "GTM-K3W7C7NF";
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=gaTrackingId"></script>
    <script>
        /*<![CDATA[*/
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', gaTrackingId);

        <!-- Google Tag Manager -->
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', googleTagManagerId);
        <!-- End Google Tag Manager -->

        // Initialize the dataLayer
        window.dataLayer = window.dataLayer || [];
        // Push data to the dataLayer
        th:inline = "javascript"
        dataLayer.push({
            'event': 'trackingBySiteName',
            'siteName': "mcdonalds-fr",
        });
        /*]]>*/
    </script>
    
</head>

<body>
<!-- *************** -->
<!-- ASIDE LEFT  NAV -->
<!-- *************** -->
<aside>
    <nav>
        <div class="logo"><a href="">
            <img src="/img/logo.svg"/></a>
        </div>
        <ul>
            <li class="nav-location active">
                <a href="/site/mcdonalds-fr/locations">Locaties</a>
            </li>
            
            <li class="nav-post-beta">
                <a href="/site/mcdonalds-fr/campaignsBeta/calendarView">Campagnes</a>
            </li>
            <li class="nav-inbox">
                <a href="/site/mcdonalds-fr/inbox">Recensie</a>
            </li>
            <li class="nav-reporting">
                <a href="/site/mcdonalds-fr/reporting/location">Rapportage</a>
            </li>
            
            <li class="nav-settings">
                <a href="/site/mcdonalds-fr/settings">Instellingen</a>
            </li>
            
            
            <li class="nav-release">
                <a href="https://docs.mobilosoft.com/en/collections/2435606-release-notes" target="_blank">Geeft opmerkingen uit - Laatste versie ( 3.8.11 )
                </a>
            </li>
            <li class="nav-user-guide">
                <a href="https://docs.mobilosoft.com/nl" target="_blank">User Guide</a>
            </li>
        </ul>
    </nav>
    <!-- OPEN CLOSE SECTION / EXPANDABLE -->
    <div class="expandable">
        <div class="logoExp">
            <a href=""><img src="/img/MyMobilosoft_Logo.png"/></a>
        </div>
        <ul>
            <li class="nav-location active">
                <a href="/site/mcdonalds-fr/locations">Locaties</a>
            </li>
            
            <li class="nav-post-beta">
                <a href="/site/mcdonalds-fr/campaignsBeta/calendarView">Campagnes</a>
            </li>
            <li class="nav-inbox">
                <a href="/site/mcdonalds-fr/inbox">Recensie</a>
            </li>
            <li class="nav-reporting">
                <a href="/site/mcdonalds-fr/reporting/location">Rapportage</a>
            </li>
            
            <li class="nav-settings bottomNav">
                <a href="/site/mcdonalds-fr/settings">Instellingen</a>
            </li>
            
            
            <li class="nav-release" >
                <a href="https://docs.mobilosoft.com/en/collections/2435606-release-notes" target="_blank">Geeft opmerkingen uit - Laatste versie ( 3.8.11 )
                </a>
            </li>
            <li class="nav-user-guide" >
                <a href="https://docs.mobilosoft.com/nl" target="_blank">User Guide</a>
            </li>
        </ul>
    </div>
    <!-- OPEN CLOSE SECTION / EXPANDABLE -->

</aside>
<!-- **************** -->
<!-- @ASIDE LEFT  NAV -->
<!-- **************** -->

<!-- ******* -->
<!-- HEADER -->
<!-- ******* -->
<header>

    <ul class="breadcrumb">
        <li><a href="#">Site ID</a></li>
        <li><a href="/site/mcdonalds-fr/locations"><span style="font-weight: bold">mcdonalds-fr</span></a>
        </li>
        <li>Locations</li>
        <li><span style="font-weight: bold">A9 MONTPELLIER AMBRUSSUM [ 1297 ]</span></li>
    </ul>
    <div class="profil" id="dv-profil">
        
        <div class="profil-pict">
            
            <img src="/img/no-picture-user.png"/>
        </div>

        <h4 class="profil-name wrapSpecialSelect">
            <a class="select-type" href="#">Stannis</a>
            
            <div class="selectlist">
                <ul>

                    

                    <li><a href="/site/mcdonalds-fr/tasks">Taken</a></li>
                    <li
                    ><a href="/profile/me/edit">Wijzig mijn profiel</a></li>


                    <li>
                        <ul>
                            <li>
                                <a href="/site/mcdonalds-fr/locations">mcdonalds-fr</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="profil-actions">
                <li>
                    <a class="lock" href="/killSession">
                        <img src="/img/icon-logout.png">
                    </a>
                </li>
                
            </ul>
        </h4>

    </div>
<!--    <div th:if="${currentSite != null && (currentSite.hasCampaigns() || currentSite.hasCampaignsBeta()) && currentUser.hasAnyCampaignRight(currentSite?.id, null) && currentUser.hasWalletPermission()}"-->
<!--         class="profil-wallet">-->
<!--        <a th:href="@{/wallet}" class="wallet" th:text="#{wallet.my_wallet}">My Wallet</a>-->
<!--    </div>-->
</header>

<!-- ******* -->
<!-- @HEADER -->
<!-- ******* -->

<div>
</div>

<!-- **** -->
<!-- MAIN -->
<!-- **** -->
<main>
    <div class="notification"></div>
    <!-- Title of the page -->
    <div class="wrapper-title">
        <h1>Informatie</h1>
        
    </div>
    <div class="box-tag">
        <form id="frm-location-tag" method="post" action="/location/add-location-tag">
            <ul class="wrap-tags">
                <li class="tag tag-edit li-tag-item" data-LocTagID="245d6685-7bcb-46fa-9c31-655be603643f" data-locationID="4a107342-1bb3-47ef-bf84-10cc078ce7b7">post-1</li>
                <li class="tag tag-edit li-tag-item" data-LocTagID="45ee5d80-c958-45cf-ae4d-e51629c3e335" data-locationID="4a107342-1bb3-47ef-bf84-10cc078ce7b7">open-location</li>
                <li class="tag tag-edit li-tag-item" data-LocTagID="4aefb509-ee68-4b83-a9ab-1e712300ba5d" data-locationID="4a107342-1bb3-47ef-bf84-10cc078ce7b7">access</li>
                <li>
                    <span class="tag addatag">
                        <div>
                            <input class="tag-autocomplete" name="tagLabel" id="input-location-tag"
                                   placeholder="Voeg een tag toe" type="text"/>
                        </div>
                    </span>
                </li>
                <!--<li >
                    <a href="#" id="btn-add-location-tag" class="plus"></a>
                </li>-->
            </ul>
        </form>
    </div>
    <!-- @Title of the page -->

    <!-- ******* SUBNAV ******* -->
    <div><div>
    <div class="boxlined">
        <div class="aside-left">
            <ul class="subNavTabs">
                <li>
                    <a class="btn-nav active"
                       href="/site/mcdonalds-fr/locations/4a107342-1bb3-47ef-bf84-10cc078ce7b7/edit">Informatie</a>
                </li>
                <li>
                    <a class="btn-nav"
                       href="/site/mcdonalds-fr/locations/4a107342-1bb3-47ef-bf84-10cc078ce7b7/edit/opening_hours">Openingsuren</a>
                </li>
                <li>
                    <a class="btn-nav"
                       href="/site/mcdonalds-fr/locations/4a107342-1bb3-47ef-bf84-10cc078ce7b7/edit/images">Afbeeldingen</a>
                </li>
                <li>
                    <a class="btn-nav"
                       href="/site/mcdonalds-fr/locations/4a107342-1bb3-47ef-bf84-10cc078ce7b7/service">Diensten</a>
                </li>
                <li>
                    <a class="btn-nav"
                       href="/site/mcdonalds-fr/locations/4a107342-1bb3-47ef-bf84-10cc078ce7b7/extraFields">Extra velden</a>
                </li>
            </ul>
        </div>
        <div class="aside-right" id="claimLink" >
            <a class="btn-nav btn-nav-less" id="claimId" href="/site/mcdonalds-fr/locations/4a107342-1bb3-47ef-bf84-10cc078ce7b7/claim">Verbinding van locatie</a>
        </div>
    </div>

</div></div>
    <!-- ******* @SUBNAV ******* -->

    <div class="box">
        <div class="box-title">
            <h2>Informatie</h2>
        </div>
        <div class="box-inside">
            <form class="form" id="frm-infos-location"
                  action="/site/mcdonalds-fr/locations/4a107342-1bb3-47ef-bf84-10cc078ce7b7/update"
                  method="post">
                <div><div>
    
        <div class="row">
            <div class="col">
                <div class="wrap-label">
                    <label>
                        <span><strong style="color: red;">* </strong></span>
                        <span>Naam van de locatie</span>
                    </label>
                </div>
                <input class="field" data-type="text" id="storeName"
                       type="text"
                       data-msg-error="Dit veld is verplicht" name="location.name" value="A9 MONTPELLIER AMBRUSSUM">
                <div class="error-storeName"></div>
            </div>
            <div class="col">
                <label>
                    <span style="color: red"><strong>* </strong></span>
                    <span>Locatie ID</span>
                    
                </label>
                <input class="field" data-type="text" id="externalId"
                       type="text"
                       data-msg-error="Dit veld is verplicht" name="location.externalId" value="1297">
                <div class="error-externalId"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>
                    <span>Merk</span>
                </label>
                <div class="select">
                    <select id="brand" name="location.brand.id">
                        <option value="c2bd2315-e825-48a4-b941-d7033cdcc9d9" selected="selected">McDonald&#39;s</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <label>
                    <span>Slug</span>
                </label>
                <input id="slug" type="text" required="required" class="field" name="location.slug" value="a9-montpellier-ambrussum">
            </div>
        </div>
        <div class="row" style="display: none">
            <div class="col">
                <label>Locatie ID</label>
                <input class="highlighted" id="locationID" readonly type="text" name="location.id" value="4a107342-1bb3-47ef-bf84-10cc078ce7b7">
            </div>
            <div class="col">
                <label>Site ID</label>
                <input class="highlighted" id="siteID" readonly type="text" name="location.siteId" value="65106e34-e2f3-4594-93b7-8ae650398266">
            </div>
        </div>
        <div class="row">
            <div class="col" >
                <label>Hoofdtaal</label>
                <div class="select">
                    <select id="lng_principal" name="location.language">
                        <option value="FRENCH" selected="selected">Français</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <label>Telefoon</label>
                <input id="phone" type="text" name="location.contact.phone" value="0499546589">
                <!--class="field" data-type="phone"  th:attr="data-msg-error=#{v_phone}">-->
                <div class="error-phone"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Website</label>
                <input class="field" data-required="false" data-type="url" id="url"
                       type="text"
                       data-msg-error="Gelieve een geldige url toe te voegen" name="location.contact.url" value="http://www.restaurants.mcdonalds.fr/mcdonalds-a9-montpellier-ambrussum">
                <div class="error-url"></div>
            </div>
            <div class="col">
                <label>
                    <span>Email</span>
                </label>
                <input id="mail" data-required="false" type="text"
                       data-type="email" class="field" data-msg-error="Gelieve een geldig adres in te vullen" name="location.contact.email" value="">
                <div class="error-mail"></div>
            </div>
        </div>
        <div class="row">
            <div class="col2">
                <label>
                    <span >Stroomgebied in km</span>
                </label>
                <div class="select">
                    <select id="location.catchmentAreaRadius" name="location.catchmentAreaRadius">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10" selected="selected">10</option>
                    </select>
                </div>
                <!--<div class="error-catchment-area"></div>-->
            </div>
            
            
        </div>

        <div>
            <div class="row" >
                <div class="col2">
                    <div class="row">
                        <div class="col">
                            <label>Locatienaam verzonden naar Google</label>
                            <input type="text" maxlength="150" id="location.googleLocationName" name="location.googleLocationName" value="McDonald&#39;s">
                        </div>
                        <div class="col2 colBtn">
                            <a class="btn btn-small left-align" href="#" id="a-google-name"><b>
                                <img src="/img/icon-info.png"> </b>
                            </a>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
        <div class="row">
            <div class="col" id="status_btn_group">
                <label>Op dit moment is deze locatie</label>
                <div class="btn-group btn-group-full">
                    <button class="toggle status active" data-status="OPEN" id="OPEN" type="button">Open</button>
                    <button class="toggle status" data-status="OPEN_SOON" id="OPEN_SOON" type="button">Opent binnenkort</button>
                    <button class="toggle status"
                            data-status="TEMPORARILY_CLOSED" id="TEMPORARILY_CLOSED"
                            type="button">Tijdelijk gesloten</button>
                    <button class="toggle status" data-status="CLOSED" id="CLOSED" type="button">Gesloten</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="div-opendate" style="display: none;">
                <label id="opDate">Opening op</label>
                <input class="field" id="input-date-open" value="2011-05-17"
                       placeholder="yyyy-MM-dd"
                       type="date" data-type="date" data-msg-error="Datum moet groter zijn dan vandaag" name="location.openingDate">
                <div class="error-input-date-open"></div>
            </div>
            <div class="col" id="div-closeDate" style="display: none;">
                <label id="clDate">Sluiting op</label>
                <input id="input-date-closed" value=""
                       placeholder="yyyy-MM-dd" type="date" name="location.closingDate">
            </div>
        </div>
        <div>
            <div class="row" >
                <div class="col">
                    <label>Media</label>
                    <div class="select">
                        <select class="validoption" id="media-channel-option">
                            <option value="APPLE">Apple</option>
                            <option value="GOOGLE">Google</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="block-category">

            </div>
        </div>
        <div class="wrapSubmit">
            <button class="btn send" id="btn-send-infos-location" type="button" >Opslaan</button>
        </div>

        <div class="popupWrap" id="popInfoGoogleName">
            <div class="insidePopup">
                <div class="post-google post-preview">
                    <div class="post-container">
                        <div class="post-channel">
                            Google
                        </div>
                        <div class="post">
                            <div class="post-content">
                                <div class="post-desc">
                                    <div class="post-text">
                                        <p>According to Google's guidelines, your name should reflect your business'
                                            real-world name,
                                            as used consistently on your storefront. Example: listing for coffee shop in
                                            San Francisco called Shelly’s Coffee.</p>
                                        <p> - Acceptable Business name for GMB : Shelly’s Coffee</p>
                                        <p> - Non Acceptable Business name for GMB : Shelly’s Coffee San Fransisco</p>
                                        <p>More information here:<a
                                                href="https://support.google.com/business/answer/3038177?hl=en"
                                                target="_blank">Learn more</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="closepopup" href="#">ClosePopup</a>
            </div>
        </div>
    
</div></div>
            </form>
        </div>
    </div>
    
    <div class="box">
        <div class="box-title">
            <h2>Locatie adres</h2>
        </div>
        <div class="box-inside">
            <form class="form details-map" id="frm-adresse-location" method="post"
                  action="/site/mcdonalds-fr/locations/4a107342-1bb3-47ef-bf84-10cc078ce7b7/update-location-adresse">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <label for="geocomplete">Zoeken</label>
                                <input class="search" id="geocomplete" type="text" placeholder="Zoeken">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="street">Straat</label>
                                <input data-geo="route" id="street" type="text" name="location.address.street" value="Aire D&#39;ambrussum Sud">
                            </div>
                            <div class="col3">
                                <label for="number">Nummer</label>
                                <input class="field" data-geo="street_number" id="number"
                                       type="text" data-msg-error="Getalnotatie niet geldig" name="location.address.number" value="A9">
                                <div class="error-number"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="extraInfo">Bijkomende info</label>
                                <input class="" id="extraInfo" type="text" name="location.address.extraInfo" value="Autoroute A9">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="hidden" id="location.address.areaId" name="location.address.areaId" value="">
                                <label for="zipCode">Postcode</label>
                                <input class="field" data-geo="postal_code"
                                       data-type="text" id="zipCode" type="text" data-msg-error="Dit veld is verplicht" name="location.address.zipCode" value="34400">
                                <div class="error-zipCode"></div>
                            </div>
                            <div class="col">
                                <label for="city">Stad</label>
                                <input class="" data-geo="locality" id="city" type="text" name="location.address.locality" value="VILLETELLE">
                            </div>
                            <div class="col">
                                <label for="country">Land</label>
                                <input class="" data-geo="country_short" id="country" type="text" name="location.address.country" value="FR">
                            </div>
                            <input class="" data-geo="administrative_area_level_1" id="administrative_area_level_1" type="hidden" name="location.address.administrativeAreaLevel1" value="">
                            <input class="" data-geo="administrative_area_level_2" id="administrative_area_level_2" type="hidden" name="location.address.administrativeAreaLevel2" value="">
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="latitude">Breedtegraad</label>
                                <input class="field" data-geo="lat" data-type="double" id="latitude"
                                       type="text" data-msg-error="Dubbel formaat niet geldig" name="location.address.latitude" value="43.71233">
                                <div class="error-latitude"></div>
                            </div>
                            <div class="col">
                                <ul class="" id="">
                                    <li>
                                        <label  for="longitude">Lengtegraad</label>
                                        <div class="search-container search-display">
                                            <input class="field"  data-geo="lng" data-type="double" id="longitude"
                                                   type="text" data-msg-error="Dubbel formaat niet geldig" name="location.address.longitude" value="4.132669">
                                            <span class="btn-searchLocationLatLng"><img class="btn-search btn-search-common"></span>
                                        </div>
                                        <div class="error-longitude"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="wrap-iframe">
                            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.857130427975!2d4.369777851047754!3d50.81528567942686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c4b5c22df6af%3A0xbf73eb203153ccdb!2sMobilosoft+Belgique!5e0!3m2!1sfr!2sbe!4v1556202918928!5m2!1sfr!2sbe"
                                    height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>-->
                            <!-- <iframe th:src="@{'https://maps.google.com/maps?q=' + ${latitude} +','+ ${address.longitude} +'&hl=es;z=14&output=embed'}"
                                    height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe> -->
                        </div>
                        <div id="map" style="width: 100%;height: 450px;"></div>
                    </div>
                </div>
                <div class="wrapSubmit">
                    <button class="btn" id="btn-send-address-location" type="button">Opslaan</button>
                </div>
            </form>
        </div>
    </div>

    

    <div class="box">
        <div class="box-title">
            <h2>Locatiebeschrijving </h2>
        </div>
        <div class="box-inside">
            <form class="form" id="frm-location-description" method="post"
                  action="/site/mcdonalds-fr/locations/4a107342-1bb3-47ef-bf84-10cc078ce7b7/update-location-description">
                <div class="row">
                    <div class="col">
                        <label for="channel">Voor welke media wilt u de beschrijving aanmaken</label>
                        <div class="select">
                            <select class="validoption" id="channel" name="channel">
                                
                                <option value="APPLE">Apple</option>
                                <option value="GOOGLE">Google</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="description-bloc">
                        <label>Beschrijving</label>
                        <div class="btn-group btn-group-small" id="desc_lang_grp">
                            
                                <button class="toggle desc_lang active" id="FRENCH"
                                        type="button" data-value="FRENCH">
                                    FR
                                </button>
                            
                        </div>
                        
                            <div class="desc-channel"
                                 channel="STORE_LOCATOR">
                                
                                    <input type="hidden" id="descriptionForm.desc0.descriptionList0.language" name="descriptionForm.desc[0].descriptionList[0].language" value="FRENCH"/>
                                    <input type="hidden" id="descriptionForm.desc0.descriptionList0.channel" name="descriptionForm.desc[0].descriptionList[0].channel" value="STORE_LOCATOR"/>
                                    <textarea style="display: none" id="textarea-STORE_LOCATOR-fr"
                                              class="area-desc"
                                              language="FRENCH" name="descriptionForm.desc[0].descriptionList[0].descriptionValue"></textarea>
                                
                            </div>
                        
                            <div class="desc-channel expandable "
                                 channel="APPLE">
                                
                                    <input type="hidden" id="descriptionForm.desc1.descriptionList0.language" name="descriptionForm.desc[1].descriptionList[0].language" value="FRENCH"/>
                                    <input type="hidden" id="descriptionForm.desc1.descriptionList0.channel" name="descriptionForm.desc[1].descriptionList[0].channel" value="APPLE"/>
                                    <textarea style="display: none" id="textarea-APPLE-fr"
                                              class="area-desc"
                                              language="FRENCH" name="descriptionForm.desc[1].descriptionList[0].descriptionValue"></textarea>
                                
                            </div>
                        
                            <div class="desc-channel expandable "
                                 channel="GOOGLE">
                                
                                    <input type="hidden" id="descriptionForm.desc2.descriptionList0.language" name="descriptionForm.desc[2].descriptionList[0].language" value="FRENCH"/>
                                    <input type="hidden" id="descriptionForm.desc2.descriptionList0.channel" name="descriptionForm.desc[2].descriptionList[0].channel" value="GOOGLE"/>
                                    <textarea style="display: none" id="textarea-GOOGLE-fr"
                                              class="area-desc"
                                              language="FRENCH" name="descriptionForm.desc[2].descriptionList[0].descriptionValue"></textarea>
                                
                            </div>
                        
                    </div>
                </div>
                <div class="wrapSubmit">
                    <button class="btn btn-update-desc">Opslaan</button>
                </div>
            </form>
        </div>
    </div>
    <!-- BOX -->
    <div class="box" style="display: none">
        <div class="box-title">
            <h2>Key Words</h2>
        </div>
        <div class="box-inside">
            <form class="form">
                <div class="row">
                    <div class="col">
                        <label>Key word 1</label>
                        <input class="" type="text">
                    </div>
                    <div class="col colBtn">
                        <a class="btn btn-small" href="#"><b>
                            <img src="/img/btn-plus.png"> </b>
                        </a>
                    </div>
                </div>

                <div class="wrapSubmit">
                    <button class="btn">Opslaan</button>
                </div>
            </form>
        </div>
    </div>
    <!--   @BOX -->
</main>

<!-- **** -->
<!-- @MAIN -->
<!-- **** -->


<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/datatables.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/cloudinary-jquery.js"></script>
<script src="/js/notify.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/moment-with-locales.js"></script>
<script src="/js/daterangepicker.min.js"></script>
<script src="/js/global.js"></script>
<script src="/js/global-added.js"></script>
<script src="/js/HoldOn.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/emojionearea.min.js"></script>
<script src="/js/jquery.richtext.min.js"></script>
<script src="/js/jquery.multi-select.min.js"></script>
<script src="/js/switch.js"></script>


<!--block for custom js page-->
<script>
    let lang = "nl";
    let unauthorizedAction = "Ongeautoriseerd";
    let localeLabel = {
        "customRangeLabel": "Aangepaste periode",
        "applyLabel": "Toepassen",
        "cancelLabel": "Annuleer"
    };
    moment.locale(lang);
    let rangesDatePicker = {
        "Vandaag": [moment(), moment()],
        "Gisteren": [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        "Laatste 7 dagen": [moment().subtract(6, 'days'), moment()],
        "Laatste 30 dagen": [moment().subtract(29, 'days'), moment()],
        "Deze maand": [moment().startOf('month'), moment().endOf('month')],
        "Laatste maand": [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    };

    let rangeReporting = {
        "Laatste 7 dagen": [moment().subtract(6, 'days'), moment()],
        "Laatste 30 dagen": [moment().subtract(29, 'days'), moment()],
        "Deze maand": [moment().startOf('month'), moment().endOf('month')],
        "Laatste maand": [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
        "Dit jaar": [moment().startOf('year'), moment().endOf('year')],
        "Afgelopen jaar": [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
    };
</script>


    <script>
        let allowGeoCoding = false;
        let statusLocation = "OPEN";
        let closeOn = "Sluiting op";
        let openOn = "Opening op";
        let locationGetTagsURL = "";
        $("#phone").bind({
            paste : function(event){
                var pastedData = event.originalEvent.clipboardData.getData('text');
                if (!pastedData.match(/^(?:[+\d].*\d|\d)$/)){
                    event.preventDefault();
                    return false;
                }
            },
            keypress : function(event){
                var regex = new RegExp("[0-9\+()]");
                var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                if (!regex.test(key)) {
                    event.preventDefault();
                    return false;
                }
            }
        });
    </script>
    <script>
        let locationCategoriesURL = '/site/' + "mcdonalds-fr" + '/locations/' + "4a107342-1bb3-47ef-bf84-10cc078ce7b7" + '/get-location-categories';
        locationGetTagsURL = '/site/' + "mcdonalds-fr" + '/locations/' + "4a107342-1bb3-47ef-bf84-10cc078ce7b7" + '/get-location-tags';
        let locationAddTagURL = '/site/' + "mcdonalds-fr" + '/locations/' + "4a107342-1bb3-47ef-bf84-10cc078ce7b7" + '/add-location-tag';
        let locationDeleteTagURL = '/site/' + "mcdonalds-fr" + '/locations/' + "4a107342-1bb3-47ef-bf84-10cc078ce7b7" + '/delete-location-tag';
        let tagMessageRemoveSuccess = "Tag succesvol verwijderd";
        let tagMessageLocationSucess = "Tag succesvol toegevoegd";
        let tagNotExistInfo = "Deze tag betaat niet. Kies er \u00E9\u00E9n uit de lijst";
        let successUpdated = "Succesvol bijgewerkt";
        let invalidFormat = "Ongeldig formaat, gelieve te controleren";
        let redirectSpecialHour = "\/site\/mcdonalds-fr\/locations\/4a107342-1bb3-47ef-bf84-10cc078ce7b7\/edit\/opening_hours";

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiWshDTCv1sqoLP7JixZfbl8POXLgX18w&amp;libraries=places"></script>
    <script src="/js/jquery-geocomplete.js"></script>
    <script src="/js/location.js"></script>




<!-- Intercom -->
<script>
    let userName = 'Stannis';
    let userMail = 'christianostannis@gmail.com';
    let language = 'nl';

    window.intercomSettings = {
        app_id: "qa74k9j4",
        name: userName,
        email: userMail,
        language_override: language
    };
</script>
<script >(function () {
    var w = window;
    var ic = w.Intercom;
    if (typeof ic === "function") {
        ic('reattach_activator');
        ic('update', intercomSettings);
    } else {
        var d = document;
        var i = function () {
            i.c(arguments)
        };
        i.q = [];
        i.c = function (args) {
            i.q.push(args)
        };
        w.Intercom = i;

        function l() {
            var s = d.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://widget.intercom.io/widget/qa74k9j4';
            var x = d.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }

        if (w.attachEvent) {
            w.attachEvent('onload', l);
        } else {
            w.addEventListener('load', l, false);
        }
    }
})()</script>
<!-- / Intercom -->

</body>
</html>
