<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template de mobilosoft</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../../vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="../../vendors/chartist/chartist.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../images/mobilosoft_logo.svg" />
  </head>
  <style>
    .map-container {
      border-radius: 10px;
      margin-top: 20px;
}
  </style>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex align-items-center">
          <img src="../../images/mobilosoft_logo.svg" alt="logo" class="logo-dark" width="35" height="35"/>
          <a class="nav-link text-white" href="index.html" style="font-weight: bold;">Mobilosoft Store Locator</a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
          <h5 class="mb-0 font-weight-medium d-none d-lg-flex">Theme (choisisser votre template)</h5>
          <ul class="navbar-nav navbar-nav-right ml-auto">
            <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <img class="img-xs rounded-circle ml-2" src="../../images/mobilosoft_logo.svg" alt="Profile image"> <span class="font-weight-normal">Mobilosoft </span></a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <div class="dropdown-header text-center">
                  <img class="img-md rounded-circle" src="../../images/mobilosoft_logo.svg" alt="Profile image" width="35" height="35">
                  <p class="mb-1 mt-3">Mobilo</p>
                  <p class="font-weight-light text-muted mb-0">mobilosoft@gmail.com</p>
                </div>
                <a class="dropdown-item"><i class="dropdown-item-icon icon-user text-primary"></i>Mon compte</a>
                <a class="dropdown-item"><i class="dropdown-item-icon icon-power text-primary"></i>Sign Out</a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              
            </li>
            <li class="nav-item nav-category">
              <span class="nav-link">Tableau de bord</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../index.html">
                <span class="menu-title">Tableau de bord</span>
                <i class="icon-screen-desktop menu-icon"></i>
              </a>
            </li>
            <li class="nav-item nav-category"><span class="nav-link">Emplacements</span></li>
            <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <span class="menu-title">Theme</span>
                            <i class="icon-layers menu-icon"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="template.html">Utiliser un template</a></li>
                                <li class="nav-item"> <a class="nav-link" href="editer.html">Création d'un nouveau store locator</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../components/component.html">
                            <span class="menu-title">Component</span>
                            <i class="icon-puzzle menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../map/choix_map.html">
                            <span class="menu-title">Configuration map</span>
                            <i class="icon-map menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../installation/install.html">
                            <span class="menu-title">Installation du map</span>
                            <i class="icon-settings menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../apercu/apercu.html">
                            <span class="menu-title">Voir aperçu</span>
                            <i class="icon-eye menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../api/api.html">
                            <span class="menu-title">Gestion d'API</span>
                            <i class="icon-globe menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="menu-title">Documentation</span>
                            <i class="icon-book-open menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                            <span class="menu-title">Gestion de langue</span>
                            <i class="icon-doc menu-icon"></i>
                        </a>
                        <div class="collapse" id="auth">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="#">Sous dommaine configuration</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">Gestion des traductions</a></li>
                            </ul>
                        </div>
                    </li>
          </ul>
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
              <!-- Section Galerie de Templates -->
              <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Galerie de Templates</h4>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="template-item">
                            <img src="../../images/carousel/banner_1.jpg"  class="py-3" alt="Template 1" class="img-fluid" width="500">
                            <h6>Template Minimaliste</h6>
                            <p>Un design simple et épuré, parfait pour les magasins modernes.</p>
                            <button class="btn btn-primary">Prévisualiser</button>
                            <button class="btn btn-secondary">Sélectionner</button>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="template-item">
                            <img src="../../images/carousel/banner_1.jpg"  class="py-3" alt="Template 2" class="img-fluid" width="500">
                            <h6>Template Moderne</h6>
                            <p>Un template contemporain avec une carte intégrée.</p>
                            <button class="btn btn-primary">Prévisualiser</button>
                            <button class="btn btn-secondary">Sélectionner</button>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="template-item">
                            <img src="../../images/carousel/banner_1.jpg"  class="py-3" alt="Template 3" class="img-fluid" width="500">
                            <h6>Template Classique</h6>
                            <p>Un design intemporel pour les marques traditionnelles.</p>
                            <button class="btn btn-primary">Prévisualiser</button>
                            <button class="btn btn-secondary">Sélectionner</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
              <!-- Section Recherche de Templates -->
              <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Recherche de Templates</h4>
                      <input type="text" class="form-control" placeholder="Rechercher un template...">
                      <button class="btn btn-primary mt-2">Rechercher</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                  <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Store locator</span>
                  <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Mobilosoft</a> from Adr</span>
                </div>
            </footer>
        </div>
        <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../../vendors/chart.js/Chart.min.js"></script>
    <script src="../../vendors/moment/moment.min.js"></script>
    <script src="../../vendors/daterangepicker/daterangepicker.js"></script>
    <script src="../../vendors/chartist/chartist.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
</html>